.icon_blue_dark {
    color: #70a2a6;
    height: 5rem;
}
.icon_blue_mid {
    color: #8ccad0;
    height: 5rem;
}
.icon_blue_light {
    color: #afdade;
    height: 5rem;
}

.icon_blue_dark:hover {
    cursor: pointer;
}
.icon_blue_mid:hover {
    cursor: pointer;
}
.icon_blue_light:hover {
    cursor: pointer;
}
.container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    justify-items: center;
    margin: 3rem 0 3rem 0;
    width: 80%;
}
button {
    background: none;
    border: none;
    padding: 0;
}
.dots {
    grid-column: 2/3;
}

.icon_dot_blue_dark {
    color: #70a2a6;
    margin: 1rem;
}
.icon_dot_blue_mid {
    color: #8ccad0;
    margin: 1rem;
}
.icon_dot_blue_light {
    color: #afdade;
    margin: 1rem;
}

.btn {
    margin: 0 2rem 0 2rem;
}
.btn:hover {
    cursor: pointer;
}

/* MEDIA QUERIES*/
@media screen and (max-width: 600px) {
    .container {
        margin: 0;
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    .btn {
        display: none;
    }
}
