.tableMainContainer {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  margin: 10rem 0 10rem;
  font-size: 2.5rem;
  color: #36454f;
}

.table {
  grid-column: 2;
}

td {
  width: 100%;
  padding-bottom: 1rem;
  text-justify: center;
}
tr:nth-child(even) {
  background-color: #d2f0f3;
}

th {
  width: 100%;
  text-align: start;
  padding: 1.5rem 1rem 1.5rem 1rem;
}
