.notAvailable {
    background-color: #018e9a;
    color: white;
    padding: 1rem;
    margin: 1rem;
    font-size: 2rem;
}

.notAvailable:hover {
    cursor: not-allowed;
}

.available {
    background-color: #d2f0f3;
    color: #36454f;
    padding: 1rem;
    margin: 1rem;
    font-size: 2rem;
    transition: all 0.2s;
}

.available:hover {
    cursor: pointer;
    background-color: #c0dfe1;
}

.close {
    position: fixed;
    top: 5%;
    left: 90%;
    z-index: 3;
    transition: all 0.2s;
    color: #c0dfe1;
    margin-top: 2rem;
    font-size: 3rem;
}

.close:hover {
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .close {
        top: 5%;
        left: 50%;
        margin: 0;
        font-size: 2rem;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 600px) {
    .close {
        top: 10%;
        left: 80%;
        margin: 0;
        font-size: 2rem;
        margin-top: 2rem;
    }
}
