.notAvailable {
    background-color: #018e9a;
    color: white;
    padding: 1rem;
    margin: 1rem;
    font-size: 2rem;
}

.notAvailable:hover {
    cursor: not-allowed;
}

.available {
    background-color: #d2f0f3;
    color: #36454f;
    padding: 1rem;
    margin: 1rem;
    font-size: 2rem;
    transition: all 0.2s;
}

.available:hover {
    cursor: pointer;
    background-color: #c0dfe1;
}

.close {
    position: fixed;
    top: 20%;
    left: 80%;
    z-index: 2;
    transition: all 0.2s;
}

.close:hover {
    cursor: pointer;
}
