.container_slide {
    display: flex;
    -webkit-animation: slide-in-blurred-bl 0.6s cubic-bezier(0.23, 1, 0.32, 1)
        both;
    animation: slide-in-blurred-bl 0.7s cubic-bezier(0.23, 1, 0.32, 1) both;
    overflow-x: hidden;
    width: 100%;
    margin-bottom: 3rem;
}

.info_container {
    display: flex;
    flex-direction: column;
}
.first_slide_pic {
    height: 50rem;
    clip-path: circle(64.3% at 32% 20%);
}
.second_slide_pic {
    height: 50rem;
    clip-path: circle(50.1% at 71% 43%);
}
.third_slide_pic {
    height: 50rem;
    clip-path: circle(64.3% at 32% 20%);
}
.pic_container_first_slide {
    background-color: #70a2a6;
    clip-path: circle(64.3% at 36% 28%);
}
.pic_container_second_slide {
    background-color: #8ccad0;
    clip-path: circle(53.9% at 63% 40%);
}
.pic_container_third_slide {
    background-color: #afdade;
    clip-path: circle(64.3% at 36% 28%);
}
.heading {
    font-size: 3rem;
    font-weight: 700;
}

.btnContainer {
    align-self: flex-end;
}
.btn {
    margin: 3rem 0 0 10rem;
    color: #70a2a6;
    font-size: 2.5rem;
    font-weight: 700;
    transition: all 0.2s;
}
.btn:hover {
    cursor: pointer;
    color: #afdade;
}

.text {
    font-size: 2rem;
    line-height: 2;
}

.icon {
    color: #70a2a6;
    height: 2.5rem;
    margin-right: 0.5rem;
    align-self: center;
}
li {
    list-style: none;
}
.info_container_third {
    margin-left: 10rem;
    display: flex;
    flex-direction: column;
}

/* MEDIA QUERIES*/

@media screen and (max-width: 1050px) {
    .container_slide_first {
        width: 100%;
        display: grid;
    }
    .container_slide_second {
        width: 100%;
        display: grid;
    }
    .container_slide_third {
        width: 100%;
        display: grid;
    }

    .first_slide_pic {
        height: 50rem;
        clip-path: circle(64.3% at 32% 20%);
        width: 100%;
    }
    .second_slide_pic {
        height: 50rem;
        clip-path: circle(50.1% at 71% 43%);
        width: 100%;
    }

    .third_slide_pic {
        height: 50rem;
        clip-path: circle(63.3% at 45% 30%);
        width: 100%;
        margin-bottom: 0rem;
    }

    .pic_container_first_slide {
        width: 100%;
    }

    .pic_container_second_slide {
        grid-row: 1/2;
        padding-right: 0;
        justify-self: end;
        width: 100%;
    }

    .pic_container_third_slide {
        justify-self: start;
        clip-path: circle(64.3% at 32% 20%);
    }
}

@media screen and (max-width: 600px) {
    .container_slide_first {
        width: 100vw;
        margin-right: 0;
        background-image: linear-gradient(
                to bottom,
                rgba(183, 199, 204, 0.52),
                rgba(10, 75, 112, 0.73)
            ),
            url('../../../../../assets/building.jpg');

        background-size: cover;
    }

    .container_slide_second {
        background-image: linear-gradient(
                to bottom,
                rgba(183, 199, 204, 0.52),
                rgba(10, 75, 112, 0.73)
            ),
            url('../../../../../assets/team-small.jpg');

        background-size: cover;
    }

    .container_slide_third {
        background-image: linear-gradient(
                to bottom,
                rgba(183, 199, 204, 0.52),
                rgba(10, 75, 112, 0.73)
            ),
            url('../../../../../assets/cat_third_slide_small.jpg');

        background-size: cover;
        color: #fff;
    }

    .pic_container_first_slide {
        display: none;
    }

    .pic_container_second_slide {
        display: none;
    }

    .pic_container_third_slide {
        display: none;
    }
    .info_container {
        margin: 1rem;
        color: #fff;
    }

    .icon {
        color: #fff;
    }

    .btn {
        color: #fff;
    }
}
