.formContainer {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
    background-color: #36454fc3;
    overflow-x: hidden;
}
.form {
    position: fixed;
    top: 2%;
    left: 20%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 5rem;
    overflow: none;
    font-size: 2.5rem;
    color: #36454f;
    width: 50vw;
    text-align: start;
}

.msg {
    margin: 10rem;
}

.formItem {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-self: start;
}

.btnSend {
    background-color: #01b2c1;
    color: #fff;
    margin-top: 5rem;
    border: none;
    border-radius: 0.5rem;
    width: 10rem;
    height: 5rem;
    font-size: 2rem;
    transition: all ease-in 0.5s;
    align-self: flex-end;
}

.btnSendInvalid {
    background-color: #f57f95;
    color: #fff;
    margin-top: 5rem;
    border: none;
    border-radius: 0.5rem;
    width: 10rem;
    height: 5rem;
    font-size: 2rem;
    transition: all ease-in 0.5s;
    align-self: flex-end;
}

.btnSend:hover {
    background-color: #67d1da;
    cursor: pointer;
}

.btnSendInvalid:hover {
    cursor: not-allowed;
}

.select {
    color: #36454f;
    font-size: inherit;
    background-color: #d2f0f3;
    border: 0.2rem solid #d2f0f3;
    width: 25%;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 2rem;
}

.select:focus {
    border: 0.2rem solid #fff;
}

.select:hover {
    cursor: pointer;
}

.options:hover {
    cursor: pointer;
    color: #d2f0f3;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input:focus {
    border: #36454f;
}

.errorMessage {
    color: #f57f95;
    font-size: 1.5rem;
}

.formItem {
    margin-top: 2rem;
}

.formItem input {
    border: 2px solid #67d1da;
    width: 95%;
}
@media screen and (max-width: 600px) {
    .form {
        position: fixed;
        top: 0%;
        left: 0%;
        height: 100vh;
        width: 100vw;
        padding: 10rem 1rem;
        margin-right: 2rem;
        font-size: 1.5rem;
    }
    .formContainer {
        position: fixed;
        top: 0%;
        left: 0%;
        height: 100vh;
        width: 100vw;
        padding: 0;
    }
    .form h3 {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .form span {
        font-size: 1rem;
    }
    .errorMessage {
        font-size: 1rem;
    }
    .formItem label {
        display: flex;
        flex-direction: column;
    }
}

.msg {
    font-size: 2rem;
}

@media screen and (max-width: 1000px) {
    .form {
        position: fixed;
        top: 5%;
        left: 5%;
        height: 70vh;
        width: 80vw;
        padding: 10rem 1rem;
        margin-right: 2rem;
        font-size: 1.5rem;
    }
    .formContainer {
        position: fixed;
        top: 0%;
        left: 0%;
        height: 100vh;
        width: 100vw;
        padding: 0;
    }
}
