.form {
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 1;
    background-color: orchid;
    padding: 10rem;
}

.close {
    position: fixed;
    top: 20%;
    left: 80%;
    z-index: 2;
    transition: all 0.2s;
}

.close:hover {
    cursor: pointer;
}
.dateContainer {
    text-align: center;
    border: 2px solid #d2f0f3;
    margin: 1rem;
    padding: 1rem;
}

.notAvailable {
    background-color: #018e9a;
    color: white;
    padding: 1rem;
    margin: 1rem;
    font-size: 2rem;
}

.notAvailable:hover {
    cursor: not-allowed;
}

.available {
    background-color: #d2f0f3;
    color: #36454f;
    padding: 1rem;
    margin: 1rem;
    font-size: 2rem;
    transition: all 0.2s;
}

.available:hover {
    cursor: pointer;
    background-color: #c0dfe1;
}
.hoursContainer {
    margin: 1rem 0.5rem 3rem 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.calendarMainContainer {
    display: grid;
    grid-template-rows: 1fr;
    margin: 10rem;
}

.headOfTheTable {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-size: 2.5rem;
    font-weight: 700;
    justify-items: center;
    margin: 2rem;
}

.bodyOfTheTable {
    display: grid;
    font-size: 2rem;
    font-weight: 400;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    margin: 3rem;
}

.mon {
    grid-column: 1/2;
}
.tue {
    grid-column: 2/3;
}

.wed {
    grid-column: 3/4;
}

.thu {
    grid-column: 4/5;
}

.fri {
    grid-column: 5/6;
}

.dropdown_container {
    display: flex;
    align-self: center;
    justify-content: center;
}

.selectContainer {
    display: flex;
    align-items: center;
    margin: 10rem 0 5rem 5rem;
}

.spanDoctor {
    color: #36454f;
    font-weight: 700;
    font-size: 2.5rem;
    margin-right: 2rem;
}
.select {
    color: #36454f;
    font-size: inherit;
    background-color: #d2f0f3;
    border: 0.2rem solid #d2f0f3;
    width: 25%;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 2rem;
}

.select:focus {
    border: 0.2rem solid #fff;
}

.select:hover {
    cursor: pointer;
}

.options:hover {
    cursor: pointer;
    color: #d2f0f3;
}
