.header_container {
    width: 100%;
    height: fit-content;
    padding: 1rem 0rem 1rem 0rem;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 700;
    font-size: 2rem;
    color: #8ccad0;
}

.hidden {
    display: none;
}

.btn_and_user_container {
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
}

.user_container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    transition: all ease-in 0.5s;
}

.logo {
    height: 10rem;
}

.menu_item_container {
    transition: all ease-in 0.5s;
}
.menu_item_container:hover {
    cursor: pointer;
    color: #ddd;
}

.user:first-child {
    border-right: 0.2rem solid #fff;
}
.user {
    padding: 0 2rem 0rem 2rem;
}
.user:hover {
    cursor: pointer;
    color: #ddd;
}

.headerSmall {
    display: flex;
    width: 100%;
}
.navBtn {
    color: #8ccad0;
    font-size: 3rem;
    margin-left: 2rem;
    height: 10rem;
    align-self: end;
    margin-right: 2rem;
}

@media screen and (max-width: 900px) {
    .header_container {
        font-size: 1.5rem;
    }
    .logo {
        height: 7rem;
    }
}

@media screen and (max-width: 700px) {
    .header_container {
        height: 100vh;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        background-color: #fff;
        overflow: hidden;
        justify-content: space-evenly;
        z-index: 11111111111;
    }

    .logo {
        height: 7rem;
    }
}
