body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100vh;
    width: 100vw;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

html {
    font-size: 62.5%;
    color: #36454f;
}

a {
    text-decoration: none;
    color: inherit;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
