.container_slide {
  width: 90vw;
  display: flex;
  -webkit-animation: slide-in-blurred-bl 0.6s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-bl 0.7s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.info_container {
  display: flex;
  flex-direction: column;
}
.first_slide_pic {
  height: 50rem;
  clip-path: circle(64.3% at 32% 20%);
}
.second_slide_pic {
  height: 50rem;
  clip-path: circle(50.1% at 71% 43%);
}
.third_slide_pic {
  height: 50rem;
  clip-path: circle(64.3% at 32% 20%);
}
.pic_container_first_slide {
  background-color: #70a2a6;
  clip-path: circle(64.3% at 36% 28%);
}
.pic_container_second_slide {
  background-color: #8ccad0;
  clip-path: circle(53.9% at 63% 40%);
}
.pic_container_third_slide {
  background-color: #afdade;
  clip-path: circle(64.3% at 36% 28%);
}
.heading {
  font-size: 3rem;
  font-weight: 700;
}

.btnContainer {
  align-self: flex-end;
}
.btn {
  margin: 3rem 0 0 10rem;
  color: #70a2a6;
  font-size: 2.5rem;
  font-weight: 700;

  transition: all 0.2s;
}
.btn:hover {
  cursor: pointer;
  color: #afdade;
}

.text {
  font-size: 2rem;
  line-height: 2;
}

.icon {
  color: #70a2a6;
  height: 2.5rem;
  margin-right: 0.5rem;
  align-self: center;
}
li {
  list-style: none;
}
.info_container_third {
  margin-left: 10rem;
  display: flex;
  flex-direction: column;
}
@-webkit-keyframes slide-in-blurred-bl {
  0% {
    -webkit-transform: translate(-1000px, 1000px) skew(-80deg, -10deg);
    transform: translate(-1000px, 1000px) skew(-80deg, -10deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0) skew(0deg, 0deg);
    transform: translate(0, 0) skew(0deg, 0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-bl {
  0% {
    -webkit-transform: translate(-1000px, 1000px) skew(-80deg, -10deg);
    transform: translate(-1000px, 1000px) skew(-80deg, -10deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0) skew(0deg, 0deg);
    transform: translate(0, 0) skew(0deg, 0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
