.footerMainContainer {
    margin-top: 20rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: #8ccad0;
    width: 100%;
    font-size: 1.5rem;
    color: #fff;
    align-self: start;
}
.footerMainContainer img {
    height: 10rem;
    align-self: center;
}

.internalLinks {
    text-align: center;
}

.internalLinks img {
    margin-top: 5rem;
}

.li {
    transition: all 0.3s;
    margin-bottom: 1rem;
}
.li:hover {
    cursor: pointer;
    color: #c1c2c6;
}

.externalLinksContainer {
    width: 90%;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-items: end;
}

.nameContainer {
    grid-column: 1/3;
    align-self: end;
    margin-right: 10rem;
    margin-top: 10rem;
}

.iconLinksContainer {
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    justify-content: flex-end;
    margin-top: 5rem;
    gap: 2rem;
    margin-right: 10rem;
}
.iconLinksContainer:first-child {
    margin-right: 2rem;
}

.icon {
    font-size: 5rem;
}

@media screen and (max-width: 700px) {
    .footerMainContainer {
        margin-top: 20rem;
        display: flex;
        flex-direction: column;
    }

    .externalLinksContainer {
        width: 100%;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
    }

    .nameContainer {
        align-self: center;
        margin-right: 0;
    }
    .iconLinksContainer {
        display: flex;
        align-self: center;
        margin: 5rem 0 5rem 0;
    }

    .icon {
        font-size: 3rem;
    }
}
