.mainContainer {
  margin: 10rem, 5rem;
}

.firstPostContainer {
  background-image: url("./../../../assets/pictures/firstBlogImage.jpg");
  height: 85vh;
  background-size: cover;
  font-display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10rem 10rem;
}

.titleFirstPost {
  color: #fff;
  font-size: 5rem;
  font-weight: 700;
}
